<!-- <div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="item">Item</label>
        <input type="text" class="form-control"
          placeholder="Enter content..." id="item"
          required [(ngModel)]="itemValue" name="item">
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
    <input type="file" id="file" [(ngModel)]="fileValue" name="file"/>
  </div>

  <h2>Content from Firebase</h2>
  <div class="col-md-3">
    <p *ngFor="let item of items | async">{{item.content}}</p>
  </div>

</div> -->

<div class="dropzone"
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">

     <h3>AngularFire Drop Zone</h3>
     <p>Drag and Drop a File</p>
     <div class="file">
        <label class="file-label">
        <input class="file-input" type="file" (change)="onDrop($event.target.files)">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
  <app-upload-task [file]="file"></app-upload-task>
</div>
