      <div class="container text-center">
        <br/>
        <mat-card>
          <div class="heading">
            <h4>Table 1</h4>
        </div><br/><br/>
           <button mat-button (click)="openDialog('Add',{},'table1')" class="btn primary add">Add Row</button>
          <mat-form-field class="filter">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Red" #input>
          </mat-form-field>
          <br/><br/>
          <div class="table-container">
          <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" matSort>

            <!-- Id Column -->
            <ng-container matColumnDef="id" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="color">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.color}} </td>
            </ng-container>

            <!-- Contact Column -->
            <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.contact}} </td>
            </ng-container>

            <!-- Place Column -->
            <ng-container matColumnDef="place">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Place </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.place}} </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <!-- Pin Column -->
            <ng-container matColumnDef="pin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Pin </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.pin}} </td>
            </ng-container>

            <!-- Country Column -->
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
              <td class="small" mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>

            <!-- Action Column -->
      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <button class="btn btn-primary primary small" (click)="openDialog('Update',element,'table2')">Edit</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef><p> Delete </p></th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <button class="btn btn-danger small" (click)="openDialog('Delete',element,'table2')">Delete</button>
        </td>
      </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        </div>

          <mat-paginator [pageSizeOptions]="[10, 2, 4, 6]"></mat-paginator>
        </mat-card>
        </div>
