
<br/>
  <div class="container">
    <mat-card *ngIf=!action><strong>Error 404</strong>: Entry for Update/Delete no found!</mat-card>
    <mat-card *ngIf=action>
    <h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
    <div mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="localData.name">
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput [(ngModel)]="localData.color">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Games</mat-label>
        <input matInput [(ngModel)]="localData.games">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Hobbies</mat-label>
        <input matInput [(ngModel)]="localData.hobbies">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Class</mat-label>
        <input matInput [(ngModel)]="localData.class">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="localData.age">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Contact</mat-label>
        <input matInput [(ngModel)]="localData.contact">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Place</mat-label>
        <input matInput [(ngModel)]="localData.place">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="localData.address">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Pin</mat-label>
        <input matInput [(ngModel)]="localData.pin">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput [(ngModel)]="localData.country">
      </mat-form-field><br/>
    </div>
    <div>
    <ng-template #elseTemplate class="delete-pad">
      Sure to delete <b>{{localData.name}}</b> and its other entries from Table 2?
      </ng-template>
    <div mat-dialog-actions class="buttonAction">
      <button class="btn btn-primary primary" mat-button (click)="doAction()">{{action}}</button>
      <button class="btn btn-danger" mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>
  </div>

