<div class="container">
  <section class="basic-grid">
    <mat-card class="card" *ngFor="let item of items | async">
      {{ item.content }}
    </mat-card>
    <pre *ngFor="let file of fileValue | async">
      {{ file }}
    </pre>
  </section>
</div>
