.example-container {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.scrollside {
  height: 90%;
  bottom: 0;
}

.item {
  width: 15%;
  text-align: center;
}

.icon-menu {
  height: 20px;
  width: 20px;
}

.example-toolbar {
  background-color: #1167b1;
  color: whitesmoke;
}

.chart {
  text-align: center;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none ;
}

mat-sidenav-content {
  background-color: whitesmoke;
}

.payment {
  width: 375px;
}

.payment-heading {
  background-color: darkblue;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-left: -15px;
  left: 0;
  width:1475px;

}

.example-form {
  margin-top: 10px;
}
.element {
  padding-top: 15px;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 448px!important;
  padding: 3px!important;
  margin: 3px!important;
 }
