<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button class='icon-button'>
      <mat-icon (click)="snav.toggle()" [ngStyle]="{ color: 'white' }"
        >menu</mat-icon
      >
      </button>
    &nbsp;
    <h1 class="example-app-name">Virtusa App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container scrollside">
    <mat-sidenav class="item" #snav>
      <mat-nav-list>
        <h3>Menu</h3>
        <hr />
        <a class="link" (click)="snav.toggle()" mat-list-item routerLink=""
          >Dashboard</a
        >
        <a (click)="snav.toggle()" mat-list-item routerLink="/table1"
          >Table 1</a
        >
        <a (click)="snav.toggle()" mat-list-item routerLink="/table2"
          >Table 2</a
        >
        <a (click)="snav.toggle()" mat-list-item routerLink="/pluginup"
          >Plugin</a
        >
        <a (click)="snav.toggle()" mat-list-item routerLink="/appstore"
          >Store</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!-- <mat-tab-group>
        <mat-tab label="First">
          <div class="card border-0 shadow-lg p-3 mb-6  bg-light rounded">
          <div class='col-md-12' style='background-color: white;'>
            <div class="col-md-12 payment-heading"
              >PAYMENT DETAILS</div
            >
            <form class="example-form">
              <div class="row">
                <div class="col-md-4 element">
                  <label>Transaction Reference Number</label><br />
                  <input class="payment" placeholder="" />
                </div>
                <div class="col-md-4 element">
                  <label>Transaction Reference Number</label><br />
                  <input class="payment" placeholder="" />
                </div>
                <div class="col-md-4 element">
                  <label>Transaction Reference Number</label><br />
                  <input class="payment" placeholder="" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 element">
                  <label>Related Reference</label><br />
                  <input class="payment" placeholder="" />
                </div>
                <div class="col-md-4 element">
                  <label>Transaction Reference Number</label><br />
                  <input class="payment" placeholder="" />
                </div>
              </div>
            </form>
          </div>
        </div>
        </mat-tab>
        <mat-tab label="Second">

        </mat-tab>
        <mat-tab label="Third">

        </mat-tab>
      </mat-tab-group> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  <p-sidebar [(visible)]="display" styleClass="p-sidebar-sm" position="left">
    Content
  </p-sidebar>
</div>

