.buttonAction {
  float: right;
  margin-top: 40px;
}

.btn {
  margin: 2px;
}

.container {
  min-height: 250px;
}

.primary {
  background-color: #1167b1;
}

.delete-pad {
  padding-top:50px;
  padding-bottom: 100px;
}
