table {
  width: 1100px;
  margin-bottom: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  width: 120px;
  text-align: center;
}

th {
  text-align: center;
  width: 120px;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}
td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
  text-align: center;
}



.add {
  float: right;
  margin: 15px;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
}

.small {
  font-size: 12px;
  padding-right: 15px;
  margin-top: 9px;
}

.filter {
  float: left;
  width: 50%;
  margin-left: 60px;
}

.heading {
  float: left;
}

.primary {
  background-color: #1167b1;
  color: white;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:nth-last-child(2n) {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.table-container {
  margin-left: 60px;
  width: 960px;
  max-width: 100%;
  overflow: auto;
}
